// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #FDECAF;
@light-gray: #969896;
@gray: #4a4a4a;
@dark-gray: #222;
@very-dark-gray: #0a0a0a;

@cyan: #F6A004;
@blue: CCAD64;
@red: #E5C33A;
@light-red: #E4AF23;
@main-blue: #c58b02;
@sand: #CCAD64;
